Escape Sequence in the String

In [1]:
print("We are here \"learning\" string")

We are here "learning" string

In [2]:
print("We are learning \n string")

We are learning
 string

String treated as raw string

In [5]:
print(r"This is a \n raw \t string")

This is a \n raw \t string

Normally this string looks like

In [7]:
print("This is a \t raw \n string")

This is a 	 raw
 string

Data Structures

In [9]:
L=[1,2,3.4,"ankur"]
T=(1,2,3,4,"verma",4.8)
S={1,2,3,4,5,6,6,7,433,4,3}
d={"firstName":"ankur","lastName":"verma"}

In [10]:
print(L)
print(T)
print(S)
print(d)
print("The type of ", type(L))
print("The type of ", type(T))
print("The type of ", type(S))
print("The type of ", type(d))

[1, 2, 3.4, 'ankur']
(1, 2, 3, 4, 'verma', 4.8)
{1, 2, 3, 4, 5, 6, 7, 433}
{'firstName': 'ankur', 'lastName': 'verma'}
The type of  <class 'list'>
The type of  <class 'tuple'>
The type of  <class 'set'>
The type of  <class 'dict'>

For checking element in the set

In [11]:
print(3 in S)

True

In [12]:
print(10 in S)

False

In [17]:
if L[1]==2:  # same for the tuple also but we cannot update the values
    print("true")
else:
    print("false")

true

In [16]:
print(d["firstName"])

ankur

In [19]:
d1={"age":21}
# d2=d+d1  cannot be concatenated